<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>
	<script src="angular/angular.js"></script>
	<link rel="stylesheet" href="master.css">

</head>

<body ng-app="dynamicFormApp" ng-controller="mainController">
{{{ body }}}
	<div ng-view></div>

</body>
</html>
