<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>
	<script src="angular/angular.js"></script>
	<script src="master.js"></script>

	<!-- <link rel="stylesheet" href="style.css"> -->	
	<link rel="stylesheet" href="master.css">
</head>
<h2>Please enter your information</h2>
<body ng-app="dynamicFormApp" ng-controller="mainController">
{{{ body }}}

</body>
</html>
