
<form name="userForms">

  <div class="form-group">
        
    <label ng-repeat="data in formdata">{[{ data.label }]}
    <input type="text" class="form-control" name="firstname" placeholder="{[{data.placeholder}]}"
    </label>
  </div>

</form>