
<form name="userForms" ng-submit="saveItem()">

  <div class="form-group">
        
    <label ng-repeat="data in formdata">

    	<div class='col-1-2' ng-if="data.type === 'text'">{[{ data.label }]}
    		<input ng-model="data.value" type="{[{ data.type }]}" name="{[{ data.name }]}" class="form-control" placeholder="{[{data.placeholder}]}">
    	</div>

    	<div class='col-1-2' ng-if="data.type === 'username'">{[{ data.label }]}
    		<input ng-model="data.value" type="{[{ data.type }]}" name="{[{ data.name }]}" class="form-control" placeholder="{[{data.placeholder}]}">
    	</div>

    	<div class='col-1-2' ng-if="data.type === 'password'">{[{ data.label }]}
    		<input ng-model="data.value" type="{[{ data.type }]}" name="{[{ data.name }]}" class="form-control" placeholder="{[{data.placeholder}]}">
    	</div>

    	<div class='col-1-2' ng-if="data.type === 'date'">{[{ data.label }]}
    		<input ng-model="data.value" type="{[{ data.type }]}" name="{[{ data.name }]}" class="form-control" placeholder="{[{data.placeholder}]}">
    	</div>

    	<div class='col-1-2' ng-if="data.type === 'email'">{[{ data.label }]}
    		<input ng-model="data.value" type="{[{ data.type }]}" name="{[{ data.name }]}" class="form-control" placeholder="{[{data.placeholder}]}">
    	</div>

    	<div class='col-1-2 float-clear' ng-if="data.type === 'radio'">{[{ data.label }]}
			<input ng-model="data.value" type="{[{ data.type }]}" name="{[{ data.name }]}" class="form-control" placeholder="{[{data.placeholder}]}">
		</div>

    	<div class='col-1-2' ng-if="data.label === 'Operating system'">
            <h3>{[{ data.label }]}</h3>
            <label ng-repeat="option in data.osData">{[{ option.value }]}
    			<input ng-model="option.value" type="checkbox" name="option.value" class="form-control" placeholder="option.value">
            </label>
		</div>

    </label>
   
  </div>

  <button type="submit">Submit</button>
<!-- <pre> {[{ formdata | json }]} </pre> -->
</form>