body{
	background-image:url("../images/skulls.png");
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	padding-top: 50px;
}

.col-1-2{
	float: left;
	width: 50%;
}

form{
	width: 50%;
	margin-left: 20%;
}

.form-group{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
/*	padding-right: 30%;	*/
}

.float-clear:last-child{
	clear: left;
}

button{
	 font-weight: bold;
	 width:150px;
	 height:40px;
	 padding: 10px 15px;
     background: #09C;
     color: ivory;
     border:none;
     border-radius: 4px;
/*     margin-left:auto;*/
     margin-left:570px; 
     margin-top: 10px;
}
label{
	text-align:right;
}
input{
	border-radius: 2px;
	background: #D3D3D3;
    color: #09C;
	height:25px;
	/*width: 200px;*/
	margin-top: 20px;
	border:none;
	padding: 2px 10px;
}
h2{
	font-size: 32px;
	text-align: center;
}
/*.windows{
	width:50px;
}*/
